[user]
	name = Tania Allard
	email = tania.allard@hellosoda.com

[alias]
	    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
			hists = log --pretty=format:\"%h %ad | %s%d [%an]\" --abbrev-commit --graph --date=short
	    tree = log --graph --pretty=oneline --abbrev-commit
	    unstage = reset HEAD --
	    last = log -1 HEAD
	    co = checkout
	    ci = commit
			cim = commit -m
	    fpa = fetch --prune --all --tags
	    mffo = merge --ff-only
	    new = log master..upstream/master
			s = status -s
			# List aliases
			aliases = config --get-regexp alias
			# Show verbose output about tags, branches or remotes
			tags = tag -l
			branches = branch -a
			remotes = remote -v
			# Find branches containing commit
			fb = "!f() { git branch -a --contains $1; }; f"

			# Find tags containing commit
			ft = "!f() { git describe --always --contains $1; }; f"

			# Find commits by source code
			fc = "!f() { git log --pretty=format:'%C(yellow)%h	%Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"

			# Find commits by commit message
			fm = "!f() { git log --pretty=format:'%C(yellow)%h	%Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

			# Remove branches that have already been merged with master
			# a.k.a. ‘delete merged’
			dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d; git remote -v update -p"

			lg = log --color --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an (%G?)>%Creset' --abbrev-commit

			# Credit an author on the latest commit
			credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"
[core]
	editor = atom --wait

[color]
    status = auto
    branch = auto
    ui = true

[color "branch"]

	current = magenta reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

# note this are added by nbdime
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[credential]
	helper = osxkeychain
