[user]
	name = Tania Allard
	email = tania.allard@hellosoda.com

[alias]
	    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	    hists = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --abbrev-comit
	    tree = log --graph --pretty=oneline --abbrev-commit
	    unstage = reset HEAD --
	    last = log -1 HEAD
	    co = checkout
	    ci = commit
	    fpa = fetch --prune --all --tags
	    mffo = merge --ff-only
	    new = log master..upstream/master
  	    s = status -s
	    # List aliases
	    aliases = config --get-regexp alias
[core]
	editor = atom --wait

[color]
    status = auto
    branch = auto
    ui = true

# note this are added by nbdime
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
