#!/usr/bin/env bashs
alias grep='grep --color=auto'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -l'
alias ls='ls --color=auto'
alias la='ls -A'
alias ll='ls -lrth'
alias la='ls -lrthA'
alias l='ls -CF'
alias tmux="tmux -u"

# I prefer exa so replace ls here so that exa is the default
alias ls="exal"
alias exal='exa --long -h'                     # long with header
alias exat='exa --long --tree'                 # long plus tree
alias exaa='exa --all'                         # show all hidden files
alias exag='exa --git-ignore'                  # ignore files in the gitignore
alias exas='exa --long --git -h'               # show status
alias exam='exa -m --long -h'                  # long with modified
alias examods='exa --long --sort modified -r'  # sort by last modified
alias exacrs='exa --long -U --sort created -r' # sort by last created
alias exala='exa --long -h -a'

# cat is bat
alias cat='bat'

# because yoink! fetch and merge master
alias yoink='git checkout master && git fetch upstream master && git merge upstream/master'
alias yoinkk='git checkout main && git fetch upstream main && git merge upstream/main'

# Linux specific aliases, work on both MacOS and Linux.
pbcopy() {
    stdin=$(</dev/stdin)
    pbcopy="$(which pbcopy)"
    if [[ -n "$pbcopy" ]]; then
        echo "$stdin" | "$pbcopy"
    else
        echo "$stdin" | xclip -selection clipboard
    fi
}
pbpaste() {
    pbpaste="$(which pbpaste)"
    if [[ -n "$pbpaste" ]]; then
        "$pbpaste"
    else
        xclip -selection clipboard
    fi
}

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias dl="cd ~/Downloads"
alias g="git"
alias h="history"
alias gc=". /usr/local/bin/gitdate && git commit -v "

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\\: .*|GET \\/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd >/dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum >/dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum >/dev/null || alias sha1sum="shasum"

# Trim new lines and copy to clipboard
alias c="tr -d '\\n' | xclip -selection clipboard"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    # shellcheck disable=SC2139,SC2140
    alias "$method"="lwp-request -m \"$method\""
done

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="i3lock -c 000000"

# copy working directory
alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# untar
alias untar='tar xvf'

# Pipe my public key to my clipboard.
alias pubkey="more ~/.ssh/id_ed25519.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"

# Pipe my private key to my clipboard.
alias prikey="more ~/.ssh/id_ed25519 | xclip -selection clipboard | echo '=> Private key copied to pasteboard.'"
